* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-heading {
  text-align: center;
  color: green;
}

.site-config-list {
  border: 2px solid gray;
}